nav {
    background-color: black;
    color: white;
    height: 80px;
    width: auto;
}

.nav--logo{
margin: 0px;
 width: 100px;
 height: 50px;
 object-fit: contain;
}

li {
 display: inline;
 padding-left: 10px;
position: relative;
left: 1450px;
font-size:26px;

}